<div class="container" fxLayout="row wrap" fxLayout.lt-md="column" fxFlex="100">
  <div class="left" fxLayoutAlign="center center" fxLayout="column wrap" fxFlex="50" fxFlex.md="100">
    <div class="titleBar" fxLayoutAlign="start start" fxLayout="column wrap">
      <h1>Queue Master</h1>
      <p>When you just can't wait</p>
      <p>We will</p>

    </div>
  </div>
  <div class="right" fxLayoutAlign="center center" fxLayout="column wrap" fxFlex="50" fxFlex.md="100">
    <router-outlet></router-outlet>
    <!-- <div class="social">
      <a href="https://shikwambana.info">Alphie shikwambana</a>
    </div> -->
  </div>
</div>
