/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

$primary: black;
// $primary: #f44336;
$secondary: #ba000d;
$light: #ff7961;

app-root {
  display: contents !important;
}

html,
body {
  height: 100%;
  background: linear-gradient(45deg, #1c4359, #407a9c);
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-attachment: fixed;
}

// .outerContainer {
//     margin: 15px;

//     h1 {
//         text-align: center;
//     }
// }


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 15px !important;
  font-weight: 200;
}

mat-radio-button {
  margin-right: 10px;
}

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

.left {
  padding: 35px;
  justify-content: stretch;
  background-position: center;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
  background: url('./assets/queue.jpg') center center no-repeat;
  background-size: cover;
}


.right {
  min-height: 100%;
}


.titleBar {
  min-height: 100%;
}

//loader 

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
